/*Style sheet for the comments*/
.comments-container
{
	padding-top:10%;
	margin-left: 4%;
	width:100%;

}

 #head
{

	font-size: 40px;
	font-family: cursive;
	padding-bottom: 0px;
}

.comments-container img
{
	max-width: 50px;
	max-height: 50px;
}
.comments-container #head
{
	line-height: 110%
}
.comments-container p
{
	line-height: 100%;

}
.comments-container #name
{
	font-size: 24px;
	line-height: 80%;
	color:#107299;
}
.comments-container #text
{
	font-size: 16px;
	line-height: 140%;
	min-width: 150%;

}
.comments-container #date
{
	color:grey;
}


/*Comments form style*/
.add_comment
{
	margin-left: 5%;
	margin-bottom: 10%;
	margin-right:25%;
}
.add_comment #comment
{
	max-width:100%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	min-height: 50px;

}
.add_comment #submit
{
	visibility: hidden;
}
.add_comment #comment_field
{
	height:50px;
}
