<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/register">
                        <div class="form-group">

                            <div class="col-md-12">
                                <input id="name" type="text" class="form-control" name="name" value ="<%=@name%>" placeholder="Name" required autofocus>
                                    <span class="help-block">
                                    </span>
                            </div>

                            <div class="col-md-12">
                                <input id="email" type="email" class="form-control" name="email" value ="<%=@email%>" placeholder="Email" required autofocus>
                                    <span class="help-block">
                                    </span>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>

                                    <span class="help-block">
                                    </span>
                            </div>
                              <div class="col-md-12">
                                <input id="password2" type="password" class="form-control" name="password2" placeholder="Password"  required>

                                    <span class="help-block">
                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                             
                            </div>
                        </div>

                        <div class="form-group">
                        <div class="col-md-6" style="color:red;">
                            <%=@error%>
                        </div>
                            <div class="col-md-2 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
