<h1> Add a new Post!</h1>
<br>
<div class = "add_file">
	<form method="post" action = "/posts/add" class = "form-horizontal" enctype="multipart/form-data">
		  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

		<div class = "row">
			<div class = "col-md-6 col-xs-6">
				<div class = "form-group  col-md-8 col-xs-8">
					<input id = "comment_field" class = "form-control" type = "text"  placeholder="Title of the Post" name = "title" autocomplete="off">
				</div>
			</div>
		</div>
			<div class = "row">
				<div class = "col-md-6 col-xs-6">
					<div class = "form-group  col-md-12 col-xs-12">
						<textarea id = "comment_field" class = "form-control" placeholder="Content"   name = "content" autocomplete="off" rows = "10" columns = "30"></textarea> 
					</div>
					<div class = "form-group  col-md-12 col-xs-12">
						<input id = "comment_field" class = "form-control" type = "text"  placeholder="Tags: seperate them with a spece" name = "tags" autocomplete="off">
					</div>
					<div class = "col-md-1 col-xs-2">
					 <div class="form-group"> 
			      		<button type="submit" class="btn btn-default" id = "submit" >Submit</button>
			  		</div>
				</div>
				</div>

		</div>
  </form>
</div>