<style>
    .row {
        border-bottom: solid #ddeaff 1px;
        padding-left: 2%;
        padding-bottom: 2%;
        color: black;
        text-decoration: none;
    }
    
    .row:hover {
        background-color: #edf3fc;
        color: #5496f9;
        text-decoration: none;
    }
    
    .row b {
        font-size: 22px;
        font-weight: bold;
    }
    
    .panel-primary {
        margin-bottom: 20%;
    }

</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Posts</h1>
    </div>
    <div class="panel-body">
        <% @posts.each { |x| %> 
        <a href="/posts/view/<%= x.id%>">
            <div class="row">
                <b><%=x.title%></b><br> <%= x.created_at%>
            </div>
        </a>
        <%}%>

    </div>
</div>