<style>
    #title {
        font-size: 40px;
        font-weight: bold;
        border-bottom: solid 1px #307ff4;
        color: black;
    }
    
    #summary {
        padding-top: 2%;
        font-size: 16px;
        padding-left: 2%;
    }
    
    .row {
        margin-right: 2%;
    }
    
    #padding {
        padding-bottom: 20%;
    }

</style>
<div class="panel panel-info">
    <div class="panel-heading" id="title">
        <%=@post.title%>
    </div>
    <div class="panel-container" id="summary">
        <%=@post.content%>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-4" style="color:grey; font-size: 12px; font-weight: bold">
        Uploader: <%=@user.name%>
    </div>
        <%if session[:user_id] == @post.users_id %>

        <div class="col-md-offset-6col-md-1 col-xs-offset-6 col-xs-1" style="visibility:{{$visibility}} ">
            <a class="btn btn-info" href = "/posts/edit/<%=@post.id%>">Edit</a>
        </div>
        <div class=" col-md-1 col-xs-1" style="visibility:{{$visibility}} ">
            <a class="btn btn-danger" onclick="event.preventDefault();if (confirm('Are you sure you want to delete this?') == true) document.getElementById('delete-form').submit();">Delete</a>
        </div>
        <%end%>

</div>
<form id="delete-form" action="/posts/delete/<%=@post.id%>" method="post" style="display: none;">
    {{ csrf_field() }}
</form>
<div id="padding">

<div class = "comments_section">

    <div class = "comments-container">
        <p id = "head"><h2>Post comments!</h2></p>
        <div class = comments>
            <%i = 0%>
            <% @comments.each { |x| %> 
                <div class = "row">
                    <div class = "col-md-1 col-xs-1"><img src = "/img/art/default_user.png"/> </div>
                    <div class = "col-md-3 col-xs-6">
                        <p id = "name"><%=@users[i].name%></p>
                        <p id = "text"><%=x.content%></p>
                        <p id = "date"><%=x.created_at%></p> 
                        <%i = i + 1%>
                       <%if x.users_id == session[:user_id]%> <a href = "/comment/delete/<%=x.id%>" id = "delete">Delete</a><%end%>
                   </div>

                </div> 
            <%}%>
        </div>
    </div>  
    <%if session[:user_id]%>
    <div class = "add_comment">
        <form method="post" action = "/comments/add/<%=@post.id%>" class = "form-horizontal">
            <div class = "form-group">
                <input id = "comment_field" class = "form-control col-md-12 col-xs-12" type = "text"  placeholder="Add a public comment" name = "comment" autocomplete="off">

            </div>
              <div class="form-group"> 
                 <button type="submit" class="btn btn-default" id = "submit" >Submit</button>
            </div>

      </form>
    </div>
    <%end%>
</div>
