
<!--Default header for the webiste Note: the footer must be added to page-->
<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- CSRF Token -->
	    <meta name="csrf-token" content="{{ csrf_token() }}">
		<title>Blog</title>
		<!--Css and javascript includes-->
		<link href = "/css/bootstrap.min.css" rel = "stylesheet">
		<link href = "/css/default.css" rel = "stylesheet">
		<link href = "/css/comments.css" rel = "stylesheet">

		<script src = "/js/framework/jquery-3.1.1.min.js" type="text/javascript"></script>
		<script src = "/js/framework/bootstrap.min.js" type="text/javascript"></script>
		<%= csrf_meta_tags %>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	</head>
	<body>
		
		<nav class = "navbar navbar-default navbar-fixed-top">
			<div class = "container-fluid">
					<a  class = "navbar-brand" href = "/"><img src = "/img/art/logo.png" style="max-height: 175px; max-height: 175px"></a>
				<ul class = "nav navbar-nav navbar-right">
					<li><a href="/posts/view">Posts</a></li>
					<li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span><span id = "account">Account</span>
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">    
							<%if(session[:user_id])%>
							<li><a href="/posts/add"><b><span class="glyphicon glyphicon-log-in"></span> Add post</b></a></li>

					   		<li><a href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><b><span class="glyphicon glyphicon-log-out"></span>Logout</b></a></li>
					   		<%end%>
					   		<%if(!session[:user_id])%>
					   			<li><a href="/register"><b><span class="glyphicon glyphicon-log-in"></span> register</b></a></li>
					   			<li><a href="/"><b><span class="glyphicon glyphicon-log-in"></span> Log in</b></a></li>
					   		<%end%>
        				</ul>
     				</li>
				</ul>
			</div>
		</nav>
		<div class = "container">
			<div class = "body">
    			<%= yield %>
			</div>
			<footer class = "footer">
				<p>Blog 2018</p>
			</footer>
		</div>
		<form id="logout-form" action="/logout" method="POST" style="display: none;">
        </form>